<div class="row">
  <h1 class="text-center">Your Todo Lists</h1>
  <br>

  <p><%= link_to "Create New LIST", new_list_path, class: "btn btn-success btn-lg" %></p>

    <div class="lists">
      <% @lists.each do |list| %>

        <div class="list">

          <p>
            <span class="lead list-title"><%= list.title %></span>
            <%= link_to "Edit Title", edit_list_path(list), class: "btn btn-info" if list.status == "unarchived" %>
            <%= link_to "Archive List", list_path(list, archive: "true"), method: :put, class: "btn btn-warning" if list.status == "unarchived" %>
            <%= link_to "Create New Task", new_task_path(list: list.id), class: "btn btn-success" %>
            <%= link_to "Delete List", list_path(list), method: :delete, class: "btn btn-danger" if list.status == "archived" %>
          </p>

          <h5><u>(Check a box to mark a task complete.)</u></h3>

            <div class="incomplete-section sortable">
              <% list.tasks.each do |task| %>
                <% if task.status == "incomplete" %>
                  <div class="task task-incomplete">
                    <ul>
                      <li>
                        <%= check_box("task", task.id, { checked: false, class: "checkbox-task" }) %>
                        <span class="task-info">
                          <%= label_tag task.title %>
                        </span>

                        <br>

                        <%= label_tag "Description" %>
                        <span class="task-info">
                          <%= task.description %>
                        </span>

                        <br>

                        <%= label_tag "Due Date" %>
                        <span class="task-info">
                          <%= task.due_date %>
                        </span>

                        <br>

                        <%= label_tag "Status" %>
                        <span class="task-info-status">
                          <%= task.status %>
                        </span>

                        <br>

                        <%= link_to "Update Task", edit_task_path(task), class: "btn btn-warning" %>
                      </li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="complete-section sortable">
              <% list.tasks.each do |task| %>
                <% if task.status == "complete" %>
                  <div class="task hide tasks-hidden">
                  <p class="lead"> This task is complete</p>
                    <ul>
                      <li>
                        <%= check_box("task", task.id, {checked: true, class: "checkbox-task" }) %>
                        <span class="task-info">
                          <%= label_tag task.title %>
                        </span>
                        <br>
                        <%= label_tag "Description" %>
                        <span class="task-info">
                          <%= task.description %>
                        </span>
                        <br>
                        <%= label_tag "Due Date" %>
                        <span class="task-info">
                          <%= task.due_date %>
                        </span>
                        <br>
                        <%= label_tag "Status" %>
                        <span class="task-info-status">
                          <%= task.status %>
                        </span>
                        <br>
                        <%= link_to "Update Task", edit_task_path(task), class: "btn btn-warning" %>
                      </li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="filter-section">
              <label for="search_table_by_date_keyword_desc_date"><strong>Search Bar via Title, Description, or Date</strong></label><br>
              <input type="text" class="search_table_by_date_keyword_desc_date" placeholder="Title, Desc, or Date">
              <br>
              <label for="search_table_by_status"><strong>Search Bar Via Status</strong></label><br>
              <%= select_tag(:status, options_for_select(["Complete", "Incomplete"]), { :include_blank => "Status Filter", class: "status-dropdown" }) %>
            </div>

            <div class="taggings-section">
              <% if list.tasks %>
                <% list.tasks.each do |task| %>
                  <% if task.tags %>
                    <% task.tags.each do |tag| %>
                      <p><u class="mark"><%= tag.tag_name %></u></p>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

            <div class="sorting-section">
              <%= button_tag "Sort By Title (Ascending)", data: { type: "title", dir: "ascending" }, class: "btn btn-info" %>
              <%= button_tag "Sort By Due Date (Earliest)", data: { type: "date", dir: "ascending" }, class: "btn btn-info" %>
              <%= button_tag "Sort By Status (Complete)", data: { type: "status", dir: "ascending" }, class: "btn btn-info" %>
            </div>

        </div>
      <% end %>
    </div>

    <div class="change-views">
      <%= button_tag "See Completed Tasks", class: "btn btn-info btn-lg btn-completed" %>
      <%= link_to "View Archived Lists", lists_path(see_archive: true), class: "btn btn-info btn-lg" %>
      <%= link_to "View Unarchived Lists", lists_path(see_unarchive: true), class: "btn btn-info btn-lg" %>
    </div>
</div>


<script charset="utf-8">
  $(document).ready(function() {
    // function clearCurrentLists() {
    //   $(".lists").html("")
    // }

    function searchByStatus(self, searchVal) {
      var searchVal = searchVal.toLowerCase();
      var list = self.closest(".list")
      list.find("div[class*='task']").each(function(index, task){
        // so go through the incomplete tasks of the closest current list
        var status = $(task).find("span[class='task-info-status']").text().trim()
        // so I confirmed we are iterating through incomplete and complete tasks in this closest list
        var found = false
        if (searchVal === status) {
          found = true;
        };
        if(found === true) {
          //for some reason, hide(), show() wasn't working and also the bug was the == instead of the ===.
          // There are 6 incomplete adn 2 complete tasks but we were only iterating like 6 times with the debugger below the
          // if (searchVal === status) line.
          $(task).removeClass("hide")
        }
        else {
          $(task).addClass("hide")
        }
      })
    };

    function searchByColumns(self, searchVal) {
      var searchVal = searchVal.toLowerCase()
      var list = self.closest(".list")

      list.find("div[class='task task-incomplete']").each(function(index, task){
        // find all of the tasks in the list and iterate
        // a task represents a div with a task which I'll be hiding or showing later.

        var allTextPerList = $(task).text()
        // this is some sloppy grab to see if the tasks have text

        if (allTextPerList.length > 0) {
          var found = false;
          var searchWords = []
          // searchWords will eventually have title and description of the task.
          $(task).find(".task-info").each(function(index, element) {
            searchWords.push(element.textContent.trim())
          })

          var regExp = new RegExp(searchVal, "i");
          // good old regex match, FML Steve

          var searchRegMatch = searchWords.join()
          if(regExp.test(searchRegMatch.toLowerCase())) {
            found = true;
          }

          if(found === true) {
            $(task).show();
          }
          else {
            $(task).hide();
          }
        }
      });
    };

    // function redrawListsAndTasks(response) {
    //   // clearCurrentLists()
    //   $(".lists").append(response)
    // }
    //
    // function getRevisedListsandTasks() {
    //   $.getJSON("/", function(response) {
    //     redrawListsAndTasks(response)
    //   });
    // }
    // YO eff repainting the dom with a getJSON. NO way. That seems terrible.

    function reviseTask(taskRow) {
      var taskRow1 = $(taskRow)
      // .find("div[class*='task-incomplete']"))
      var completeSection = $(taskRow.parent().parent().find(".complete-section"))
      var incompleteSection = $(taskRow.parent().parent().find(".incomplete-section"))

      if (taskRow1.find("span[class='task-info-status']").text().trim() === "incomplete") {
        taskRow1.find("span[class='task-info-status']").text("complete")
        taskRow1.attr("class", "task hide tasks-hidden")
        completeSection.append(taskRow1);
      } else {
        taskRow1.find("span[class='task-info-status']").text("incomplete")
        taskRow1.attr("class", "task task-incomplete")
        taskRow1.find("p").remove()
        incompleteSection.append(taskRow1);
      }
      // not making a JSON call. I update the thing in the database whne I click a button and I simply move the task to the
      // completed section
    }

    function rearrangeBySort(allTasksPerSection) {
      // each list has two sections to sort. the incomplete and the completed tasks
      var individualList = $(this)

      if (allTasksPerSection.attr("class").match("task-incomplete")) {
        // be wary that match is going to be called on nil if the list is empty.
        individualList.find(".incomplete-section.sortable").empty()
        allTasksPerSection.each(function() {
          individualList.find(".incomplete-section.sortable").append(this);
        })
      }
      else {

      }
    }

    function changeSortButtonNames(sortButton) {
      if (sortButton.text() === "Sort By Title (Descending)") {
        sortButton.text("Sort By Title (Ascending)")
      } else if (sortButton.text() === "Sort By Title (Ascending)") {
        sortButton.text("Sort By Title (Descending)")
      } else if (sortButton.text() === "Sort By Due Date (Earliest)") {
        sortButton.text("Sort By Due Date (Latest)")
      } else if (sortButton.text() === "Sort By Due Date (Latest)") {
        sortButton.text("Sort By Due Date (Earliest)")
      } else if (sortButton.text() === "Sort By Status (Complete)") {
        sortButton.text("Sort By Status (Incomplete)")
      } else if (sortButton.text() === "Sort By Status (Incomplete)") {
        sortButton.text("Sort By Status (Complete)")
      }
    }

    $(".change-views").on("click", ":button", function(btn){
      $(".tasks-hidden").toggleClass("hide")
      if ($("button.btn-completed").text() == "See Completed Tasks") {
        $("button.btn-completed").html("Hide Completed Tasks")
      }
      else {
        $("button.btn-completed").html("See Completed Tasks")
      }
    });

    $('.search_table_by_date_keyword_desc_date').keyup(function() {
      var searchLetter = ($(this).val().toLowerCase())
      var self = $(this)
      searchByColumns(self, searchLetter);
    });

    $('.status-dropdown').change(function() {
      var searchStatus = this.value;
      var self = $(this)
      searchByStatus(self, searchStatus)
    })

    $(".lists").on("change", ":checkbox", function(box){
      var checkBox = $(this);
      var item_number = parseInt(checkBox[0].name.match(/[^[\]]+(?=])/g)[0]);

      $.ajax( { type: "PUT",
        url: "tasks/" + item_number,
        data: { id: item_number, type: "status-checkbox" },
        success: function(text) {
          reviseTask($(checkBox[0].closest("div")))
        }
      });
    })

    $(".sorting-section").on("click", ":button", function() {
      var sortButton = $(this)
      var sortMethod = $(this).data().type
      var sortingSections = sortButton.closest(".list").find(".sortable")
      var individualList = $(this).closest(".list")
      // sortingSections is both sections here for incomplete and complete sections

      changeSortButtonNames(sortButton)

      sortingSections.each(function(index, section) {
        var allTasksPerSection = $(section).find(".task")
        allTasksPerSection.sort(function(a,b) {
          if (sortMethod === "date") {
            return Date.parse($($(a).find("span")[2]).text().trim()) - Date.parse($($(b).find("span")[2]).text().trim())
          } else if (sortMethod === "title") {
            return $($(a).find("span")[0]).text().trim().localeCompare($($(b).find("span")[0]).text().trim());
          } else {
            return $($(a).find("span")[3]).text().trim().localeCompare($($(b).find("span")[3]).text().trim());
          }
        })
        rearrangeBySort.call(individualList, allTasksPerSection);
        // if I did rearrangeBySort.bind(individualList, allTasksPerSection), what would this be?
      });
    })
  });
</script>
