<div class="row">
  <h1>Your Todo Lists</h1>
  <br>

  <p>
    <%= link_to "Create New List", new_list_path, class: "btn btn-success" %>
  </p>

    <div class="lists">
      <% @lists.each do |list| %>
        <p class="lead"><%= list.title %>
          <%= link_to "Edit Title", edit_list_path(list), class: "btn btn-info" if list.status == "unarchived" %>
          <%= link_to "Archive List", list_path(list, archive: "true"), method: :put, class: "btn btn-warning" if list.status == "unarchived" %>
          <%= link_to "Delete List", list_path(list), method: :delete, class: "btn btn-danger" if list.status == "archived" %>
          </p

        <h5><u>Check a box to mark a task complete.</u></h3>
          <%= link_to "Create New Task", new_task_path(list: list.id), class: "btn btn-success" %>
        <% list.tasks.each do |task| %>
          <div class="task">
            <ul>
              <li>
                <%= check_box("task", task.id, {checked: false, class: "checkbox-task" }) %>
                <%= label_tag task.title %>
                <br>
                <%= label_tag "Description" %>
                <%= task.description %>
                <br>
                <%= label_tag "Due Date" %>
                <%= task.due_date %>
                <br>
                <%= link_to "Update Task", edit_task_path(task), class: "btn btn-warning" %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= link_to "View Archived Lists", lists_path(see_archive: true), class: "btn btn-info btn-lg" %>
    <%= link_to "View Unarchived Lists", lists_path(see_unarchive: true), class: "btn btn-info btn-lg" %>
</div>
