<div class="row">
  <h1>Your Todo Lists</h1>
  <br>

  <p><%= link_to "Create New List", new_list_path, class: "btn btn-success" %></p>

    <div class="lists">
      <% @lists.each do |list| %>

        <div class="list">


          <p class="lead">
            <strong><%= list.title %></strong>
            <%= link_to "Edit Title", edit_list_path(list), class: "btn btn-info" if list.status == "unarchived" %>
            <%= link_to "Archive List", list_path(list, archive: "true"), method: :put, class: "btn btn-warning" if list.status == "unarchived" %>
            <%= link_to "Delete List", list_path(list), method: :delete, class: "btn btn-danger" if list.status == "archived" %>
          </p>

          <h5><u>Check a box to mark a task complete.</u></h3>
            <%= link_to "Create New Task", new_task_path(list: list.id), class: "btn btn-success" %>
            <% list.tasks.each do |task| %>
              <% if task.status == "incomplete" %>
                <div class="task" data-task= <%= task %>>
                  <ul>
                    <li>
                      <%= check_box("task", task.id, {checked: false, class: "checkbox-task" }) %>
                      <%= label_tag task.title %>
                      <br>
                      <%= label_tag "Description" %>
                      <%= task.description %>
                      <br>
                      <%= label_tag "Due Date" %>
                      <%= task.due_date %>
                      <br>
                      <%= link_to "Update Task", edit_task_path(task), class: "btn btn-warning" %>
                    </li>
                  </ul>
                </div>
              <% end %>

              <% if task.status == "complete" %>
                <div class="task hide tasks-hidden">
                <p class="lead"> This task is complete</p>
                  <ul>
                    <li>
                      <%= check_box("task", task.id, {checked: false, class: "checkbox-task" }) %>
                      <%= label_tag task.title %>
                      <br>
                      <%= label_tag "Description" %>
                      <%= task.description %>
                      <br>
                      <%= label_tag "Due Date" %>
                      <%= task.due_date %>
                      <br>
                      <%= link_to "Update Task", edit_task_path(task), class: "btn btn-warning" %>
                    </li>
                  </ul>
                </div>
              <% end %>
            <% end %>

            <div class="filter-section">
              <label for="search_table"><strong>Each List is Searchable by Keyword in Title or Description</strong></label><br>
              <input type="text" id="search_table" placeholder="keywords">
            </div>

            <div class="taggings-section">
              <% if list.tasks %>
                <% list.tasks.each do |task| %>
                  <% if task.tags %>
                    <% task.tags.each do |tag| %>
                      <p><u class="mark"><%= tag.tag_name %></u></p>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

        </div>
      <% end %>
    </div>

    <div class="change-views">
      <%= button_tag "See Completed Tasks", class: "btn btn-info btn-lg" %>
      <%= link_to "View Archived Lists", lists_path(see_archive: true), class: "btn btn-info btn-lg" %>
      <%= link_to "View Unarchived Lists", lists_path(see_unarchive: true), class: "btn btn-info btn-lg" %>
    </div>

</div>


<script charset="utf-8">
  $(document).ready(function() {

    // function clearCurrentLists() {
    //   $(".lists").html("")
    // }

    function searchByColumns(self, searchVal) {
      var searchVal = searchVal.toLowerCase()
      var list = self.closest(".list")
      list.find("div[class='task']").each(function(index, task){
        // find all of the tasks in the list and iterate
        // a task represents a div with a task which I'll be hiding or showing later.

        var allTextPerList = $(task).text()
        // this is some sloppy grab to see if the tasks have text

        if (allTextPerList.length > 0) {
          var found = false;
          var searchWords = []
          $(task).find("label").each(function(index, label) {
            searchWords.push($(label).text())
            //push all of the text into searchWords
          })

          var regExp = new RegExp(searchVal, "i");
          // good old regex match, ugh
          searchWords.forEach(function(term, index) {
            if(regExp.test(term.toLowerCase())) {
              // if regex matches, found = true
              found = true;
              return false;
            }
          });
          if(found === true) {
            $(task).show();
          }
          else {
            $(task).hide();
          }
        }
      });
    };

    function redrawListsAndTasks(response) {
      // clearCurrentLists()
      $(".lists").append(response)
    }

    function getRevisedListsandTasks() {
      $.getJSON("/", function(response) {
        redrawListsAndTasks(response)
      });
    }

    $(".change-views").on("click", ":button", function(btn){
      $(".tasks-hidden").toggleClass("hide")
      if ($("button").text() == "See Completed Tasks") {
        $("button").html("Hide Completed Tasks")
      }
      else {
        $("button").html("See Completed Tasks")
      }
    });

    $('#search_table').keyup(function() {
      var searchLetter = ($(this).val().toLowerCase())
      var self = $(this)
      searchByColumns(self, searchLetter);
    });


    $(".lists").on("change", ":checkbox", function(box){
      var box = $(this)
      var item_number = parseInt(box[0].name.match(/[^[\]]+(?=])/g)[0])

      $.ajax( { type: "PUT",
        url: "tasks/" + item_number,
        data: { id: item_number, type: "status-checkbox" },
        success: function(text) {
          getRevisedListsandTasks()
        }
      });
    })
  });
</script>
