<div class="list" ng-controller="ListCtrl">
  <div ng-cloak preload-resource="<%= list.tasks.to_json %>" as="tasks"></div>

  <p>
    <span class="lead list-title"><%= list.title %></span>
    <%= link_to "Edit Title", edit_list_path(list), class: "btn btn-info" if list.status == "unarchived" %>
    <%= link_to "Archive List", list_path(list, archive: "true"), method: :put, class: "btn btn-warning" if list.status == "unarchived" %>
    <%= link_to "Create New Task", new_task_path(list: list.id), class: "btn btn-success" %>
    <%= link_to "Delete List", list_path(list), method: :delete, class: "btn btn-danger" if list.status == "archived" %>
  </p>

  <h5><u>(Check a box to mark a task complete.)</u></h3>

    <div class="incomplete-section sortable">
      <div class="task" ng-repeat="task in tasks">
        <!-- this is how we do a loop in angular -->
        <ul>
          <li>
            <!-- // about to give value a dyanmic angular attribute by surrounding the expression with {{}}-->
            <input type="checkbox" class="checkbox-task" value="{{task.id}}">

            <span class="task-info">
              <label> {{task.title}} </label>
            </span>

            <br>

            <label> Description </label>

            <span class="task-info">
              {{task.description}}
            </span>

            <br>

            <label> Due Date </label>

            <span class="task-info">
              {{task.due_date}}
            </span>

            <br>

            <label> Status </label>
            <span class="task-info-status">
              {{task.status}}
            </span>
            <br>

            <label> Photo </label>

            <br>

            <%= link_to "Update Task", "/tasks/{{task.id}}/edit", class: "btn btn-warning" %>
          </li>
        </ul>
      </div>

      <!-- <p>
        <a href="#" ng-click="removeAllTasks($event)">Remove All Tasks</a>
        <a href="#" ng-click="addNewTask($event)">Add New Task</a>
      </p> -->


      <!-- <% list.tasks.each do |task| %>
        <% if task.status == "incomplete" %>
          <div class="task task-incomplete">
            <ul>
              <li>
                <%= check_box("task", task.id, { checked: false, class: "checkbox-task" }) %>
                <span class="task-info">
                  <%= label_tag task.title %>
                </span>

                <br>

                <%= label_tag "Description" %>
                <span class="task-info">
                  <%= task.description %>
                </span>

                <br>

                <%= label_tag "Due Date" %>
                <span class="task-info">
                  <%= task.due_date %>
                </span>

                <br>

                <%= label_tag "Status" %>
                <span class="task-info-status">
                  <%= task.status %>
                </span>
                <br>

                <%= label_tag "Photo" %>
                <span class="task-photo">
                  <%= image_tag(task.photo.avatar.url) if task.photo %>
                  <%= link_to "Delete Photo", photo_path(task.photo), method: :delete, class: "btn btn-danger btn-sm  " if task.photo %>
                </span>

                <br>

                <%= link_to "Update Task", edit_task_path(task), class: "btn btn-warning" %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %> -->
    </div>

    <div class="complete-section sortable">
      <% list.tasks.each do |task| %>
        <% if task.status == "complete" %>
          <div class="task hide tasks-hidden">
          <p class="lead"> This task is complete</p>
            <ul>
              <li>
                <%= check_box("task", task.id, {checked: true, class: "checkbox-task" }) %>
                <span class="task-info">
                  <%= label_tag task.title %>
                </span>
                <br>
                <%= label_tag "Description" %>
                <span class="task-info">
                  <%= task.description %>
                </span>
                <br>
                <%= label_tag "Due Date" %>
                <span class="task-info">
                  <%= task.due_date %>
                </span>
                <br>
                <%= label_tag "Status" %>
                <span class="task-info-status">
                  <%= task.status %>
                </span>
                <br>
                <%= label_tag "Photo" %>
                <span class="task-photo">
                  <%= image_tag(task.photo.avatar.url) if task.photo %>
                  <%= link_to "Delete Photo", photo_path(task.photo), method: :delete, class: "btn btn-danger btn-sm  " if task.photo %>
                </span>

                <%= link_to "Update Task", edit_task_path(task), class: "btn btn-warning" %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="filter-section">
      <label for="search_table_by_date_keyword_desc_date"><strong>Search Bar via Title, Description, or Date</strong></label><br>
      <input type="text" class="search_table_by_date_keyword_desc_date" placeholder="Title, Desc, or Date">
      <br>
      <label for="search_table_by_status"><strong>Search Bar Via Status</strong></label><br>
      <%= select_tag(:status, options_for_select(["Complete", "Incomplete"]), { :include_blank => "Status Filter", class: "status-dropdown" }) %>
    </div>

    <div class="taggings-section">
      <% if list.tasks %>
        <% list.tasks.each do |task| %>
          <% if task.tags %>
            <% task.tags.each do |tag| %>
              <p><u class="mark"><%= tag.tag_name %></u></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="sorting-section">
      <sort-button collection="tasks" by="title" dir="asc">Sort By Title (Ascending)</sort-button>
      <!-- <sort-button collection="tasks" by="date" dir="asc">Sort By Due Date (Earliest)</sort-button>
      <sort-button collection="tasks" by="status" dir="asc">Sort By Status (Complete)</sort-button> -->
      <!-- <%= button_tag "Sort By Title (Ascending)", data: { type: "title", dir: "ascending" }, class: "btn btn-info", "ng-click" => "sortTasks({by: 'title', dir: 'asc'})" %> -->
      <!-- <%= button_tag "Sort By Due Date (Earliest)", data: { type: "date", dir: "ascending" }, class: "btn btn-info" %> -->
      <!-- <%= button_tag "Sort By Status (Complete)", data: { type: "status", dir: "ascending" }, class: "btn btn-info" %> -->
    </div>

</div>
